<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Andrew</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/reactive">Reactive</a>
      <a class="nav-item nav-link" routerLink="/monthyrgrid/2000">MonthYearGrid</a>
      <a class="nav-item nav-link" routerLink="/doctors">DoctorsOfTheChurch</a>
    </div>
  </div>
</nav>